.personal-info-page{
	height: 100vh;
	

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.personal-info-container{
	width: 35%;
	height: 20%;

	min-width: 350px;
	min-height: 200px;

	max-width: 400px;
	max-height: 230px;

	font-size:15px;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow:0 0 5px black;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:10px;
/*	grid-auto-rows: minmax(15px, auto);
*/	

/*	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(15px, auto);*/
}

.personal-info-left{
	grid-column: 1 / 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:right;
}

.personal-info-right{
	grid-column: 2 / 3;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;

	font-size: 13px;
}

@media screen and (min-width: 1024px){
	.personal-info-right{
		font-size: 12px;
	}
}

.name{
	font-weight: bold;
	font-size: 20px;
}

.title{
	font-size: 12px;
}

.location{
}

.links{
}

.degree{
}

.tech{
}

.email{
}

.pic{
}

