.personal-info-container{
	width:33%;
	min-width: 350px;
/*	min-height: 250px;
*/
	font-size:15px;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow:0 0 5px black;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(15px, auto);
}

.name{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.location{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.links{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.title{
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.degree{
	grid-column: 2 / 4;
	grid-row: 3 / 4;
}

.tech{
	grid-column: 2 / 4;
	grid-row: 4 / 5;
}

.email{
	grid-column: 2 / 4;
	grid-row: 5 / 6;
}

.pic{
	grid-column: 1 / 2;
	grid-row: 2 / 5;
}

