.welcome-message-container{
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	margin-left: auto;
	margin-right: auto;
}

.block-formatting{
	display:block;
}

@media screen and (min-width: 786px){
	.welcome-message-container{
		width:33%;
	}

	.extra-large{
		font-size: 76px;
	}

	.medium{
		font-size: 24px;
	}
}

@media screen and (max-width: 785px){
	.welcome-message-container{
		width:50%;
	}

	.extra-large{
		font-size: 38px;
	}

	.medium{
		font-size: 18px;
	}


}