.welcome-message-container{
	margin-left: auto;
	margin-right: auto;
}



@media screen and (min-width: 786px){
	.welcome-message-container{
		width:33%;
	}

	.extra-large{
		font-size: 76px;
	}

	.medium{
		font-size: 24px;
	}
}

@media screen and (max-width: 785px){
	.welcome-message-container{
		width:50%;
	}

	.extra-large{
		font-size: 38px;
	}

	.medium{
		font-size: 18px;
	}


}