.welcome-message-container{
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	margin-left: auto;
	margin-right: auto;
}

.block-formatting{
	display:block;
}

@media screen and (min-width: 320px){
	.welcome-message-container{
		width:60%;
	}

	.extra-large{
		font-size: 38px;
	}

	.medium{
		font-size: 18px;
	}
}

@media screen and (min-width: 480px){
	.welcome-message-container{
		width:50%;
	}

	.extra-large{
		font-size: 38px;
	}

	.medium{
		font-size: 18px;
	}
}

@media screen and (min-width: 768px){
	.welcome-message-container{
		width:33%;
		max-width:500px;
	}

	.extra-large{
		font-size: 76px;
	}

	.medium{
		font-size: 24px;
	}
}

@keyframes greeting-smiley {
    0% { content: ":)"; }
    50% { content: ":D"; }
    75% { content: ":)"; }
}

.greeting-smiley::after {
	width:10px;
	opacity: 1;
	content: ":)";
	animation: greeting-smiley linear 8s 8s infinite;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.greeting-1{
	opacity: 0;
	animation: fade-in linear 1s 1500ms forwards;
}

.greeting-2{
	opacity: 0;
	animation: fade-in linear 2150ms 2750ms forwards;
}

.greeting-3{
	opacity: 0;
	animation: fade-in linear 2000ms 2750ms forwards;
}

.greeting-4{
	opacity: 0;
	animation: fade-in linear 250ms 5500ms forwards;
}

.greeting-5{
	opacity: 0;
/*	color: #F40000;
*/	animation: fade-in linear 250ms 5900ms forwards;/*, fade-in-with-flash linear 750ms 5900ms forwards;*/
}

@keyframes fade-in-with-flash {
    0% 	{ color: #F40000; }
    100%{ color: black; }
}

.greeting-6{
	opacity: 0;
	animation: fade-in linear 250ms 6300ms forwards;
}

.greeting-7{
	opacity: 0;
	animation: fade-in linear 250ms 6600ms forwards;
	display: inline-block;
	width: 10px;
}